// drawer nav
.q-drawer {
  .q-item {
    opacity: 0.6;
    &.q-router-link--exact-active {
      opacity: 1;
    }
  }
}

// number inputs
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 10px;
}

// Qstepper

// body{
//     background-image: linear-gradient(60deg, #ffffff 0%, #ffffff 100%);
//     color: #ffffff;
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     font-family: sans-serif;
// }


// body {
//     border: 8px solid #ff3d00;
//   }
